.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  background-color: var(--background-light);
  display: flex;
  box-shadow: var(--box-shadow);
  align-items: center;
}

.title {
  font-size: 0.875rem;
  color: var(--gray-600);
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 1rem;
  color: var(--gray-700);
  font-weight: 600;
}

.valueLabel {
  font-family: "QuickZap";
  font-size: 3em;
  color: var(--gray);
}

.loader {
  color: var(--green);
}

@media (max-width: 1360px) {
  .card {
    padding: 1rem;
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1360px) {
  .subtitle {
    font-size: 1.1rem;
  }

  .valueLabel {
    font-size: 2em;
  }
}
.icon {
  margin-left: auto;
  width: 12px;
  height: 12px;
}

.progress {
  color: var(--green);
  margin-right: 10px;
  font-weight: 600;
}

.progress.negative {
  color: #d21313;
}
