.card {
  margin: 1rem 0 1rem 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 12px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 50%;
  background-color: var(--background-white);
  display: flex;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 0.875rem;
  color: var(--gray-800);
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 1rem;
  color: var(--gray-700);
  font-weight: 600;
}

.valueLabel {
  font-family: "QuickZap";
  font-size: 30px;
  color: var(--gray);
}

.loader {
  color: var(--green);
}

@media (max-width: 1360px) {
  .card {
    padding: 1rem;
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1360px) {
  .subtitle {
    font-size: 1.1rem;
  }

  .valueLabel {
    font-size: 2em;
  }
}
.icon {
  margin-left: auto;
  width: 12px;
  height: 12px;
}

.progress {
  color: var(--green);
  margin-right: 10px;
  font-weight: 600;
}

.progress.negative {
  color: #d21313;
}
.tooltipWrapper {
  position: relative;
}

.tooltipIcon {
  width: 18px;
  height: 18px;
  color: black;
  cursor: pointer;
}
.tooltipBox {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
  width: 210px;
  background-color: #402d28;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.tooltipText {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 1px;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.illustrations{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}