.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.statsCard {
  background-color: var(--background-light);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  padding: 1.5rem;
  width: 584px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.statsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statsTitle {
  font-size: 1rem;
  font-weight: 500;
  color: #6b6b6b;
}

.statsValue {
  font-family: "QuickZap";
  font-size: 3rem;
  color: var(--brown);
  text-transform: uppercase;

  margin-bottom: 1rem;
}

.tooltipWrapper {
  position: relative;
}

.tooltipIcon {
  width: 18px;
  height: 18px;
  color: black;
  cursor: pointer;
}
.tooltipBox {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
  width: 210px;
  background-color: #402d28;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
  height: 190px;
}

.tooltipText {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 1px;
}
