.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  background-color: var(--background-light);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  margin: 1rem 1rem 0 1rem;
  padding: 32px 32px 16px 32px;
}

.widget {
  flex: 1;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: auto;
}

.chartWrapper {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 400;
  color: var(--gray-600);
}

/* Updated tooltip styles that match the example image */
.tooltip {
  background: #2d2d2d;
  border-radius: 6px; 
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  min-width: 180px;
  border: none;
  position: relative;
  width: 200px;
  margin-top: 10px;
  z-index: 99999;
}

.tooltipCon{
  z-index: 1000;
}

.tooltipHeader {
  background: #381717;
  color: #fff;
  font-weight: 500;
  padding: 8px 12px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tooltipContent {
  padding: 5px 0;
  background-color: #fff;
}

.tooltipRow {
  display: flex;
  align-items: center;
  padding: 0px 12px;
  color: #fff;
  font-size: 12px;
  justify-content: space-between;
}

.tooltipDot {
  margin-right: 6px;
  font-size: 15px;
  color: black;
}

.tooltipLabel {
  flex-grow: 1;
  text-align: left;
  font-weight: normal;
  color: #343434;
}

.tooltipValue {
  font-weight: 500;
  margin-right: auto;
  color: #2d2d2d;
}

/*  this class is to create a transparent container for the tooltip */
.chartWrapper [class*="apexcharts-tooltip"] {
  opacity: 1 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.chartWrapper [class*="apexcharts-tooltip-series-group"] {
  background-color: transparent !important;
}
.custom-marker-pointer {
  cursor: pointer !important;
}

.hidden-tooltip {
  z-index: -1 !important;
  opacity: 0 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  pointer-events: none !important;
}

/* Make sure your custom tooltip has a higher z-index */
.your-custom-tooltip-class {
  z-index: 10 !important;
}



@media (max-width: 1360px) {
  .title {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1rem;
  }
  .container {
    padding: 32px 8px;
  }
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    gap: 16px;
  }
}