@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "QuickZap";
    src: url(../public/font/quickzap.ttf);
  }
}

:root {
  --green: #19aa6e;
  --brown: #402d28;
  --soft-brown: #bf9e7b;
  --beige: #fff9f0;
  --tertiary: #eae0d5;
  --lightGreen: #98f5ce;
  --nimiq-ease: cubic-bezier(0.25, 0, 0, 1);
  --background-light: #fffcf8;
  --box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  --gray: #454545;
  --gray-700: #6d696a;
  --gray-600: #454545;
  --gray-500: #b0aeae;
  --gray-400: #cdcccc;
  --gray-300: #f8f7f7;
  --gray-light: #e2dfde;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: var(--green);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: 7px 7px 20px 0px black;
  outline: none;
}

* {
  box-sizing: border-box;
}

.apexcharts-tooltip {
  color: var(--brown) !important;
  background: var(--beige) !important;
  font-weight: 600;
  border: 2px solid var(--green) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 15px !important;
  padding: 5px !important;
}

.apexcharts-tooltip-title {
  color: var(--brown) !important;
  background: var(--beige) !important;
  border-bottom: 0px !important;
}

.apexcharts-xcrosshairs.apexcharts-active,
.apexcharts-ycrosshairs.apexcharts-active {
  opacity: 0 !important;
}

.Mui-selected {
  background-color: var(--green) !important;
  color: white !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--brown);
    background: var(--beige);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: var(--brown);
    background: var(--beige);
  }
}
