.section2,
.section1 {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.section2 {
  padding-top: 6rem;
}

.section3 {
  min-height: 120vh;
  padding: 6rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-top: 5px;
  width: 70%;
}

.title {
  font-family: "QuickZap";
  font-size: 4rem;
  color: var(--green);
  text-shadow: 4px 4px var(--soft-brown);
  text-transform: uppercase;
  text-align: center;
}

.topRightLeaf {
  position: absolute;
  left: -120px;
  top: -20%;
  transform: rotate(140deg);
  width: 260px;
  z-index: -1000;
  overflow: hidden;
}

.topLeftLeaf {
  position: absolute;
  transform: rotate(230deg);
  right: -0%;
  top: -20%;
  width: 150px;
  z-index: -1000;
  overflow: hidden;
}

.bottomLeftLeaf {
  position: absolute;
  width: 300px;
  z-index: -1000;
  bottom: -20%;
  left: -100px;
  z-index: -1000;
}

.bottomRightLeaf {
  position: absolute;
  bottom: -20%;
  right: -80px;
  width: 180px;
  z-index: -1000;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .topLeftLeaf,
  .topRightLeaf,
  .bottomLeftLeaf,
  .bottomRightLeaf {
    visibility: hidden;
  }

  .section3,
  .section2 {
    padding: 2rem 0;
  }
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }
  .topLeftLeaf,
  .topRightLeaf,
  .bottomLeftLeaf,
  .bottomRightLeaf {
    visibility: hidden;
  }
}
