.section2,
.section1 {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section2 {
  padding-top: 6rem;
}

.section3 {
  padding: 6rem 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border-radius: 20px;
  background-color: var(--background-light);
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  padding: 24px;
}

.tableContainer table {
  min-width: 0;
}

.tableHr {
  height: 1px;
  width: 100%;
  background-color: var(--gray-500);
  margin-bottom: 10px;
}

.tableFooter {
  display: flex;
  width: 100%;
  align-items: center;
}

.tableContainer p {
  margin-right: auto;
  color: var(--gray-500);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 5px;
  margin-top: 5px;
  width: 70%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  width: 70%;
  margin-top: 1rem;
}

.title {
  font-family: "QuickZap";
  font-size: 3rem;
  color: var(--brown);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.topRightLeaf {
  position: absolute;
  left: -120px;
  top: -20%;
  transform: rotate(140deg);
  width: 260px;
  z-index: -1000;
  overflow: hidden;
}

.topLeftLeaf {
  position: absolute;
  transform: rotate(230deg);
  right: -0%;
  top: -20%;
  width: 150px;
  z-index: -1000;
  overflow: hidden;
}

.bottomLeftLeaf {
  position: absolute;
  width: 350px;
  z-index: -1000;
  bottom: -20%;

  z-index: -1000;
}

.bottomRightLeaf {
  position: absolute;
  bottom: -20%;
  right: -70px;
  width: 400px;
  z-index: -1000;
  overflow: hidden;
  top: -20%;
}
.starknet {
  position: absolute;
  top: 170px;
  right: 77%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  max-width: 50px;
  z-index: -1;
}

@media (max-width: 1360px) {
  .row {
    flex-direction: column;
    width: 100%;
  }
  .tableContainer {
    width: calc(100% - 2rem);
  }
  .tableFooter {
    display: block;
  }
  .tableFooter p {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .topLeftLeaf,
  .topRightLeaf,
  .bottomLeftLeaf,
  .bottomRightLeaf {
    visibility: hidden;
  }

  .title {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .topLeftLeaf,
  .topRightLeaf,
  .bottomLeftLeaf,
  .bottomRightLeaf {
    visibility: hidden;
  }
}
