.section1 {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.section3 {
  min-height: 120vh;
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.title {
  font-family: "Montserrat-ExtraBold";
  font-size: 4rem;
  color: var(--green);
  text-shadow: 4px 4px var(--soft-brown);
  text-transform: uppercase;
  text-align: center;
}

.topLeftLeaf {
  position: absolute;
  right: 0%;
  top: 0%;
  transform: rotate(180deg);
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.topRightLeaf {
  position: absolute;
  transform: rotate(180deg);
  left: -1%;
  top: 0%;
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.bottomLeftLeaf {
  position: absolute;
  transform: rotate(270deg);
  bottom: -1%;
  left: 0%;
  width: 300px;
  z-index: -1000;
}

.bottomRightLeaf {
  position: absolute;
  right: 0%;
  bottom: -1%;
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 6rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }
  .topLeftLeaf,
  .topRightLeaf,
  .bottomLeftLeaf,
  .bottomRightLeaf {
    visibility: hidden;
  }
}
