@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 140px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(140, 137, 137, 1);
    margin: 0;
    font-family: "Poppins";
  }
  
  .infoIcon {
    color: #71717a;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.7;
  }
  
  .countContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .count {
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    font-family: "Quickzap";
  }

  @media (max-width: 1360px) {
    .card {
      padding: 1rem;
      width: calc(100% - 2rem);
      margin: 1rem;
    }
  }
  
  /* If you need to adjust for specific page layout */
  @media (max-width: 768px) {
    .card {
      padding: 16px;
      min-height: 120px;
    }
    
    .title {
      font-size: 16px;
    }
    
    .count {
      font-size: 36px;
    }
  }