.tableCellTitle {
  color: var(--gray-700);
  font-size: 1.2rem;
}

.tableCellLabel {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
  border-bottom: none;
  cursor: pointer;
}

.tableRow {
  position: relative;
}

.tableRow + .tableRow::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--gray-400);
  opacity: 0.2;
}

.tableCellLabel:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .tableContainer {
    width: 100%;
  }

  .tableCellTitle {
    font-size: 1.25rem;
  }
  .tableRow {
    width: 40px;
  }
  .tableCellLabel {
    width: calc(50vw - 1rem - 24px);
  }
}
